<h4>BANKS IN {{ city}}</h4>
<div class="container"> 
   <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Branch" ng-model="searchBranch">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Bank Name
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'branch'; sortReverse = !sortReverse">
          Branch Name
            <span ng-show="sortType == 'branch' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'branch' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">
          Address 
            <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'ifsc'; sortReverse = !sortReverse">
          IFSC
            <span ng-show="sortType == 'ifsc' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'ifsc' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody ng-repeat="b in bankData | orderBy:sortType:sortReverse | filter:searchBranch">
      <tr>
      <td>{{b.bank_name}}</td>
                                <td>{{b.branch}}</td>
                                <td>{{b.address}}</td>
                                <td>{{b.ifsc}}</td>
      </tr>
    </tbody>
    
  </table>
  
  </div>